*
{
    margin: 0;
    padding: 0;
}
h1{


    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 5em;
    font-family: sans-serif;
    letter-spacing: 0.2em;
}
video{
    object-fit: cover;
    width: 100%;
    height: 100vh;

}
section
{
    height: 100vh;
    background: #000;
    
}

section::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to right,rgb(80, 200, 80),#f00,#0f0,#00f,#0ff,#ff0,#0ff);
    mix-blend-mode: color;
    pointer-events: none;
}
section::after{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgb(80, 200, 80),#f00,#0f0,#00f,#0ff,#ff0,#0ff);
    color: linear-gradient(to right,rgb(80, 200, 80),#f00,#0f0,#00f,#0ff,#ff0,#0ff);
    mix-blend-mode: color;
    pointer-events: none;
}
h1 span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
    animation-iteration-count:2;

}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateY(0deg);
        filter: blur(10px);
    }

    100% {
        opacity:1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}
h1 span:nth-child(1){animation-delay: 1s;}
h1 span:nth-child(2){animation-delay: 1.25s;}
h1 span:nth-child(3){animation-delay: 1.5s;}
h1 span:nth-child(4){animation-delay: 2s;}
h1 span:nth-child(5){animation-delay: 2.25s;}
h1 span:nth-child(6){animation-delay: 3s;}
h1 span:nth-child(7){animation-delay: 3.25s;}
h1 span:nth-child(8){animation-delay: 3.5s;}
h1 span:nth-child(9){animation-delay: 3.75s;}
h1 span:nth-child(10){animation-delay: 4s;}
h1 span:nth-child(11){animation-delay: 4.25s;}
h1 span:nth-child(12){animation-delay: 4.5s;}
h1 span:nth-child(13){animation-delay: 4.75s;}




